/* General styles */
.invitation-card {
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
}

.invitation-image {
  max-width: 100%;
  height: auto;
  /* margin: 20px; */
  /* padding: 20px; */
  transition: transform 0.2s ease 0s;
  border-radius: 28px;
}

.invitation-image:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  transition: transform 0.2s ease 0s;
}

.image-container {
  max-width: 25%;
  padding: 10px;
  border-radius: 28px;
  background: #ffffff;
  box-shadow: 8px 8px 16px #c7c7c7,
    -8px -8px 16px #ffffff;
}

.countdown-timer {
  font-size: 1.5em;
  margin-top: 20px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .invitation-card {
    padding: 10px;
  }

  .countdown-timer {
    font-size: 1.2em;
  }
}

@media (max-width: 480px) {
  .invitation-card {
    padding: 5px;
  }

  .countdown-timer {
    font-size: 1em;
  }

  h1 {
    font-size: 1.5em;
  }

  p {
    font-size: 1em;
  }
}