/* Information.css */
@font-face {
    font-family: 'ArmAllegro';
    src: url('../public/fonts/ArmAllegroU.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
.information {
    text-align: center;
    margin-top: 20px;
  }
  
  .information h2 {
    font-family: 'ArmAllegro', cursive;
    font-size: 2em;
    color: #333;
    margin-bottom: 10px;
  }
  
  .information h4 {
    font-family: 'Noto Serif Armenian', serif;
    font-size: 1.2em;
    color: #666;
    margin-bottom: 20px;
  }
  
  .info-box {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    background: #ffffff;
    box-shadow: 4px 4px 8px #c7c7c7, -4px -4px 8px #ffffff;
    text-align: center;
  }
  
  .info-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.2s;
    cursor: pointer;
  }
  
  .info-image:hover {
    transform: scale(1.1);
  }
  
  .info-time {
    font-size: 1.2em;
    color: #555;
    margin-top: 10px;
    font-family: 'Noto Serif Armenian', serif;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .info-box {
      padding: 8px;
    }
  
    .information h2 {
      font-size: 1.8em;
    }
  
    .information h4 {
      font-size: 1em;
    }
  
    .info-time {
      font-size: 1em;
    }
  }
  
  @media (max-width: 480px) {
    .info-box {
      padding: 5px;
    }
  
    .information h2 {
      font-size: 1.5em;
    }
  
    .information h4 {
      font-size: 0.9em;
    }
  
    .info-time {
      font-size: 0.9em;
    }
  }
  